{% extends "base.html" %}

{% block title %}{{ title }} – AKs anlegen{% endblock %}

{% block header %}
  <p class="form-heading mb-5">{{ title }} – AKs anlegen</p>
{% endblock %}

{% block content %}
<div class="form-wrapper" style="max-width: 95vw;">
  <form action="{{ url_for('create_poll', poll_name=poll_name) }}" method="POST">
    <!-- base data -->
    {% for ak in aks %}
    <div class="mb-5">
        <label class="form-label form-label-2">{{ ak["name"] }}</label>
        <label class="form-label">AK Name</label>
        <input
          type="text"
          name="ak{{ loop.index0 }}_name"
          id="ak{{ loop.index0 }}_name"
          placeholder="AK Name"
          class="form-input"
          value="{{ ak['name'] }}"
          required
        />
        
        <label class="form-label">AK Beschreibung</label>
        <input
          type="text"
          name="ak{{ loop.index0 }}_description"
          id="ak{{ loop.index0 }}_description"
          placeholder="AK Beschreibung"
          class="form-input"
          value="{{ ak['description'] }}"
        />

        <label class="form-label">AK Head</label>
        <input
          type="text"
          name="ak{{ loop.index0 }}_head"
          id="ak{{ loop.index0 }}_head"
          placeholder="AK Head"
          class="form-input"
          value="{{ ak['head'] }}"
        />
        
        <label class="form-label">AK Duration</label>
        <input
          type="text"
          name="ak{{ loop.index0 }}_duration"
          id="ak{{ loop.index0 }}_duration"
          placeholder="AK Duration"
          class="form-input"
          value="{{ ak['duration'] }}"
        />

        <label class="form-label">Resoable</label>
        <input
            type="checkbox"
            id="ak{{ loop.index0 }}_reso"
            name="ak{{ loop.index0 }}_reso"
            {{ "checked" if ak["reso"] else "" }}
        />
    </div>
    {% endfor %}
    <div class="mb-5">
        <label class="form-label form-label-2">NEUER AK</label>
        <label class="form-label">AK Name</label>
        <input
          type="text"
          name="akneu_name"
          id="akneu_name"
          placeholder="AK Name"
          class="form-input"
          value=""
        />
        
        <label class="form-label">AK Beschreibung</label>
        <input
          type="text"
          name="akneu_description"
          id="akneu_description"
          placeholder="AK Beschreibung"
          class="form-input"
          value=""
        />

        <label class="form-label">AK Head</label>
        <input
          type="text"
          name="akneu_head"
          id="akneu_head"
          placeholder="AK Head"
          class="form-input"
          value=""
        />

        <label class="form-label">Resoable</label>
        <input
            type="checkbox"
            id="akneu_reso"
            name="akneu_reso"
        />
    </div>

    <!-- submit -->
    <div>
      <button class="btn">AKs aktualisieren</button>
    </div>
  </form>
</div>
{% endblock %}
