<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="main-wrapper">
    <div class="form-wrapper">
    <div class="mb-5">
        <p class="form-heading">AK-Präferenzen KoMa90</p>
    </div>
      <form action="{{ url_for('post_result', poll_name=poll_name) }}" method="POST">
        <label class="form-label form-label-2">
            Grunddaten (für etwaige Rückfragen)
        </label>
        <div class="mb-5">
          <label for="name" class="form-label"> Dein Name </label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            class="form-input"
            required
          />
        </div>
        <div class="mb-5">
            <label for="uni" class="form-label"> Deine Hochschule </label>
            <input
              type="text"
              name="uni"
              id="uni"
              placeholder="Hochschule"
              class="form-input"
              required
            />
        </div>
        <label class="form-label form-label-2">
            AK Präferenzen
        </label>

        <div class="radio-flex">
            {% for ak_name in ak_list %}
            <div class="radio-group">
                <legend>{{ ak_name }}</legend>
                <input type="radio" id="ak{{ loop.index0 }}-radio0" name="ak{{ loop.index0 }}" value="0" required checked/>
                <label for="ak{{ loop.index0 }}-radio0">Don't care</label>
                <input type="radio" id="ak{{ loop.index0 }}-radio1" name="ak{{ loop.index0 }}" value="1" required/>
                <label for="ak{{ loop.index0 }}-radio1">Gerne</label>
                <input type="radio" id="ak{{ loop.index0 }}-radio2" name="ak{{ loop.index0 }}" value="2" required/>
                <label for="ak{{ loop.index0 }}-radio2">Unbedingt</label>
                <input type="radio" id="ak{{ loop.index0 }}-radio3" name="ak{{ loop.index0 }}" value="-1" required/>
                <label for="ak{{ loop.index0 }}-radio3">Erforderlich</label>
            </div>
            {% endfor %}
        </div>

        <label class="form-label form-label-2">
            Sonstiges
        </label>
        <div class="mb-5">
          <label for="remarks" class="form-label"> Sonstige Anmerkungen (Frühere Abreise, ...) </label>
          <input
            type="text"
            name="remarks"
            id="remarks"
            placeholder="Weitere Anmerkungen"
            class="form-input"
          />
        </div>

        <div>
          <button class="btn">Präferenzen abschicken</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
