<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="main-wrapper">
    <div class="form-wrapper">
    <div class="mb-5">
        <p class="form-heading">AK-Präferenzen KoMa90</p>
    </div>
      <form action="{{ url_for('post_result', poll_name=poll_name) }}" method="POST">
        <label class="form-label form-label-2">
            Grunddaten
        </label>
        <div class="mb-5">
          <label for="name" class="form-label"> Dein Name </label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            class="form-input"
          />
        </div>
        <div class="mb-5">
            <label for="uni" class="form-label"> Deine Hochschule </label>
            <input
              type="text"
              name="uni"
              id="uni"
              placeholder="Hochschule"
              class="form-input"
            />
        </div>
        <label class="form-label form-label-2">
            AK Präferenzen
        </label>

        <div class="radio-flex">
            <div class="radio-group">
                <legend>AK0</legend>
                <input type="radio" id="ak0-radio0" name="ak0" value="0" checked/>
                <label for="ak0-radio0">Don't care</label>
                <input type="radio" id="ak0-radio1" name="ak0" value="1"/>
                <label for="ak0-radio1">Gerne</label>
                <input type="radio" id="ak0-radio2" name="ak0" value="2"/>
                <label for="ak0-radio2">Unbedingt</label>
                <input type="radio" id="ak0-radio3" name="ak0" value="3"/>
                <label for="ak0-radio3">Erforderlich</label>
            </div>

            <div class="radio-group">
                <legend>AK1</legend>
                <input type="radio" id="ak1-radio0" name="ak1" value="0" checked/>
                <label for="ak1-radio0">Don't care</label>
                <input type="radio" id="ak1-radio1" name="ak1" value="1"/>
                <label for="ak1-radio1">Gerne</label>
                <input type="radio" id="ak1-radio2" name="ak1" value="2"/>
                <label for="ak1-radio2">Unbedingt</label>
                <input type="radio" id="ak1-radio3" name="ak1" value="3"/>
                <label for="ak1-radio3">Erforderlich</label>
            </div>
        </div>

        <label class="form-label form-label-2">
            Sonstiges
        </label>
        <div class="mb-5">
          <label for="remarks" class="form-label"> Sonstige Anmerkungen (Frühere Abreise, ...) </label>
          <input
            type="text"
            name="remarks"
            id="remarks"
            placeholder="Weitere Anmerkungen"
            class="form-input"
          />
        </div>

        <div>
          <button class="btn">Präferenzen abschicken</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
