{% extends "base.html" %}

{% block title %}AK-Präferenzen {{ title }}{% endblock %}

{% block header %}
  <p class="form-heading mb-5">AK-Präferenzen {{ title }}</p>
{% endblock %}

{% block content %}
<div class="form-wrapper">
  <form action="{{ url_for('post_result', poll_name=poll_name) }}" method="POST">
    <!-- base data -->
    <label class="form-label form-label-2">Grunddaten (für etwaige Rückfragen)</label>
    <div class="mb-5">
      <label for="name" class="form-label"> Dein Name </label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Name"
        class="form-input"
        required
      />
    </div>
    <div class="mb-5">
      <label for="uni" class="form-label"> Deine Hochschule </label>
      <input
        type="text"
        name="uni"
        id="uni"
        placeholder="Hochschule"
        class="form-input"
        required
      />
    </div>
    <!-- availability -->
    {% if block_list %}
    <label class="form-label form-label-2">Verfügbarkeit</label>
    <p class="mb-3">
      Bitte gib an, ob du zu einem, der Zeitpunkte <i>gar nicht</i> kannst.
    </p>
    {% if block_info_html %}{{ block_info_html | safe }}{% endif %}
    <label for="do" class="form-label"> Donnerstag </label>
    <div class="radio-group">
      <input type="checkbox" id="block0" name="block0" checked/>
      <label for="block0"> Vormittag </label>
      <input type="checkbox" id="block1" name="block1" checked/>
      <label for="block1"> Nachmittag </label>
      <input type="checkbox" id="block2" name="block2" checked/>
      <label for="block2"> Abend </label>
    </div>
    <label for="fr" class="form-label"> Freitag </label>
    <div class="radio-group">
      <input type="checkbox" id="block3" name="block3" checked/>
      <label for="block3"> Vormittag </label>
      <input type="checkbox" id="block4" name="block4" checked/>
      <label for="block4"> Nachmittag </label>
    </div>
    <label for="sa" class="form-label"> Samstag </label>
    <div class="radio-group">
      <input type="checkbox" id="block5" name="block5" checked/>
      <label for="block5"> Vormittag </label>
      <input type="checkbox" id="block6" name="block6" checked/>
      <label for="block6"> Nachmittag </label>
    </div>
    {% endif %}
<!--
    <div class="radio-group">
      {% for block in block_list %}
        <input type="checkbox" id="block{{ loop.index0 }}" name="block{{ loop.index0 }}" checked/>
        <label for="block{{ loop.index0 }}"> {{ block }} </label>
      {% endfor %}
    </div>
-->
    <!-- preferences -->
    {% if ak_list %}
    <label class="form-label form-label-2">AK Präferenzen</label>
    {% if ak_info_html %}{{ ak_info_html | safe }}{% endif %}
    <div class="radio-flex">
      {% for ak in ak_list %}
      <div class="radio-group">
        <legend>
          {{ ak["name"] }}
          <details>
            <summary>Beschreibung</summary>
            {{ ak["description"] }}
            {% if ak["head"] %}
              <br/><br/>
              Verantwortlich: {{ ak["head"] }}
            {% endif %}
            {% if ak["reso"] %}
              <br/><br/>
              <i>Eine Resoerstellung ist angedacht.</i>
            {% endif %}
          </details>
        </legend>
        <input type="radio" id="ak{{ loop.index0 }}-radio0" name="ak{{ loop.index0 }}" value="0" required checked/>
        <label for="ak{{ loop.index0 }}-radio0">Egal</label>
        <input type="radio" id="ak{{ loop.index0 }}-radio1" name="ak{{ loop.index0 }}" value="1" required/>
        <label for="ak{{ loop.index0 }}-radio1">Interessiert</label>
        <input type="radio" id="ak{{ loop.index0 }}-radio2" name="ak{{ loop.index0 }}" value="2" required/>
        <label for="ak{{ loop.index0 }}-radio2">Sehr gerne</label>
        <input type="radio" id="ak{{ loop.index0 }}-radio3" name="ak{{ loop.index0 }}" value="-1" required/>
        <label for="ak{{ loop.index0 }}-radio3">Erforderlich</label>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <!-- other -->
    <label class="form-label form-label-2">
        Sonstiges
    </label>
    <div class="mb-5">
      <label for="remarks" class="form-label"> Sonstige Anmerkungen (Frühere Abreise, ...) </label>
      <input
        type="text"
        name="remarks"
        id="remarks"
        placeholder="Weitere Anmerkungen"
        class="form-input"
      />
    </div>
    <!-- submit -->
    <div>
      <button class="btn">Präferenzen abschicken</button>
    </div>
  </form>
</div>
{% endblock %}
